@use "/src/base/color" as *;

.container {
    width: 100%;
    height: 100vh;
    font-family: sans-serif;
    // background-color: $bg-color;

    .nav-container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding-top: 10px;
        // background-color: white;

       nav {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 90%;
        // background-color: green;

          ul {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            gap: 2rem;
            list-style: none;

            li {
                // color: $main-color;
                cursor: pointer;
            }

          }

          img {
            width: 80px;
            height: 80px;
          }

          button {
            width: 140px;
            padding: 12px;
            // border: 2px solid $main-color;
            border-radius: 50px;
            // color: $main-color;
            background: none;
            transition: 0.4s;
          }

          button:hover {
            // color: $bg-color;
            // background-color: $main-color;
          }

       }

        //nav-container end
    }

    .hero-container {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        // background-color: red;

        .hero-inner {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            width: 80%;
            // background-color: green;

            img {
              width: 620px;
              height: 620px;
            }

            div {
              display: flex;
              flex-direction: column;
              justify-content: center;
              align-items: flex-start;
              gap: 2.5rem;

              h1 {
                width: 750px;
                font-size: 2.8rem;

                span {
                    // color: $main-color;
                }

              }

              button {
                padding: 18px;
                width: 200px;
                font-size: 1rem;
                // border: 2px solid $main-color;
                border-radius: 8px;
                // background-color: $main-color;
                // color: $bg-color;
                cursor: pointer;
                transition: 0.4s;
              }

              button:hover {
                // color: $main-color;
                // background: none;
              }

            }

        }

        //hero-container end
    }

    //container end
}